@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Almarai', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
  background: #000000;
}

[id] {
  scroll-margin-top: 1.5rem;
}
